extends layout

block content
	header(id="title-bar")
		.row
			h1(id="english-title") Citizenship Test
			h1(id="spanish-title") Examen de Ciudadadanía

	#main-page.container-fliud
		#top-language-choice.row
			p(class="language-choice") In what language do you want to take the test?