<header id="title-bar">
    <% if(!title) { %>
        <h1>Cititzenship Test</h1>
    <% } else { %>
        <h1><%= title %></ht>
    <% } %>
</header>

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
        	<h1 id="answer-description">&quot;<%= answer %>

        	&quot;<h1>
        </div>

    </div>

        

</div>



<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- JavaScript -->
<script type="text/javascript" src="/javascripts/questions.js"></script> 