<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Citizenship Test</title>
      <meta charset="utf-8" />

      <link rel="stylesheet" href="/stylesheets/question-view.css" />
      <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel="stylesheet" href="/stylesheets/main-page.css" />
      <link rel="stylesheet" href="/stylesheets/introduction.css" />
      <link rel="stylesheet" href="/stylesheets/results.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" />
    </head>

    <body>
    	<%- body%>
    </body>

</html>
