<header id="questions-title-bar">
    <!-- Instructions Button -->
    <div class="instruction-btn-container" data-toggle="modal" data-target="#instructions-modal">
      <button id="instruction-btn" class="btn btn-primary">
        <% if(data.language === 'english') { %>
          Instructions
        <% } else { %>
          Instrucciones
        <% } %>
      </button>
    </div>
    
    <!-- Page Title -->
    <% if(data.language === 'english') { %>
      <h1 id="questions-title">Citizenship Test</h1>
    <% } else { %>
      <h1 id="questions-title">Examen de Ciudadania</h1>
    <% } %>

    <!-- Finish Test Button -->
    <div class="finish-btn-container">
      <button id="finish-btn" class="btn btn-primary">
        <% if(data.language === 'english') { %>
          Finish
        <% } else { %>
          Terminar
        <% } %>
      </button>
    </div>


</header>

  <div id="main">
    <div id="question_form">
      <h3><%= data.number %>.</h3>
      <h2><%= data.text %></h2>
      <div id="answer-container">
        <form>
          <!-- Logic for Answer vs. Respuesta -->
          <% if(data.language === 'english') { %>
          <label for="answer_input">Answer</label>
          <% } else { %>
          <label for="answer_input">Respuesta</label>
          <% } %>

          <input type="text" id="answer_input" autofocus="autofocus">
          <button id="submit_answer" class="btn btn-lg btn-primary main_button" type="button"> 
          <% if(data.language === 'english') { %>
            Submit
          <% } else { %>
            Entrar
          <% } %>
          </button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/x-handlebars-template" id="answer-template">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-10">
        <h1 id="answer-description">&quot;{{answer}}&quot; <b>{{description}}</b></h1>
      </div>
      <button id="nxt-btn" type="button" class="btn btn-primary btn-lg center-block"> {{next}} </button>
    </div>

    <div class = "row thin-row">
      <h2 class="correct-answer">{{correct_answers_description}}:</h2>
    </div>

    {{#each all_answers}}
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-11">
          <h3 class="correct-answer">{{this}}</h3>
        </div>
      </div>
    {{/each}}

  </div>
  </script>

  <!-- Modal -->
<div class="modal fade" id="instructions-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <% if(data.language === 'english') { %>
            Instructions
          <% } else { %>
            Instrucciones
          <% } %>
        </h4>
      </div>
      <div class="modal-body" id="instructions-text">
        <% if(data.language === 'english') { %>
          <div class="instruction-text">Type your answer in the white box. Then hit enter or click the submit button.</div>
          <div class="instruction-text">If you answer is marked wrong despite being similar to a correct answer, it may still be right. Remember to check the answer key on the next page. </div>
        <% } else { %>
          <div class="instruction-text">Tipee su repuesta en el casillero blanco y luego presione la tecla 'entrar'.</div>
          <div class="instruction-text">Si su respuesta resulta incorrecta, todavía puede ser correcta. Debe revisar la clave de respuestas en la página siguiente para ver si su respuesta actualmente fue correcto. </div>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
        <% if(data.language === 'english') { %>
          Close
        <% } else { %>
          Cerrar
        <% } %>
        </button>
      </div>
    </div>
  </div>
</div>

  <!-- Libraries -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- JavaScript -->
  <script type="text/javascript" src="/javascripts/handlebars.js"></script>
  <script type="text/javascript" src="/javascripts/questions.js"></script>
  <script type="text/javascript" src="/javascripts/levenshtein.js"></script> 
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>