<header id="title-bar">
    <h1>Examen de Ciudadania</h1>
</header>

<div id="instructions">
    <h2>¡Bienvenidos! Este es un sitio donde se puede practicar el examen para la ciudadanía estadounidense.</h2>
    <div id="information">
        <p>El examen consiste de 100 preguntas. Aquí tiene la opción de elegir cuántas quiere tomar. </p>
        <p>Elija abajo.</p>
    </div>
    <div>
        <button class='btn btn-lg btn-info'>100</button>
        <button class='btn btn-lg btn-info'>50</button>
        <button class='btn btn-lg btn-info'>20</button>
    </div>
    <p class="descriptive-text">O, tipee el número de preguntas que quiere responder:</p>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="num-questions-form">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/introduction.js"></script> 