<header id="title-bar">
    <h1>Examen de Ciudadania</h1>
</header>

<div id="instructions">
    <h2>Bienvenidos! Este es un sitio donde puede practicar para el examen para la ciudadanía estadounidense.</h2>
    <div id="information">
        <p>El examen es 100 preguntas. Puede elegir cuantos quiere tomar.</p>
        <p>Elige abajo.</p>
    </div>
    <div>
        <button class='btn btn-lg btn-info'>100</button>
        <button class='btn btn-lg btn-info'>50</button>
        <button class='btn btn-lg btn-info'>20</button>
    </div>
    <p class="descriptive-text">O, tipea el numero de preguntas a que quiere responder:</p>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="num-questions-form">
        </div>
        <button type="submit" class="btn btn-primary">Presentar</button>
    </form>
</div>

<!-- Libraries -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/introduction.js"></script> 