.question {
	font-size: 40px;
}

#answers {
	padding-top: 2%
}

.question-row {
	margin-top: 20px;
}

.variable-text-size {
	font-size: 100%;
}

#answer-container {
	margin-top: 50px;
}

.correct-answer {
	color: #B85C00;
}

.thin-row {
	margin-top: 0px;
	margin-bottom: 0px;
}