header {
    position: relative; 
    height: 100px;
    background-color: #34495E; 
    padding-top: 10px;
}

header h1 {
    color: #fff;
    padding-left: 25px;
}

h1 {
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 0px;
}

body {
    background-color: #E6E6F7; 
}

.language-choice {
    font-size: 200%;
    padding-left: 10px;
}

.end-title {
    text-right
}

#bottom-language-choice {
    margin-bottom: 100px;
}

#spanish-button-div {
    margin-bottom: 30px;
}

#top-language-choice {
    margin-top: 5px;
}

.information {
    font-size: 28px;
}

.small-line-break {
    margin: 5px;
}

.medium-line-break {
    height: 15px;
}

.large-line-break {
    height: 35px;
}